// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: #333;
$body-bg: #f5f5f5;
$border-radius: .4rem;
$success: #7952b3;
$btn-secondary: #C47E80;

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@import "bootstrap/scss/root"; // Required
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";


//
// Custom styles
//

@import "icon-list";

body {
  font-family: 'Montserrat', sans-serif;
}

.bg-light {
background-color: #C47E80 !important;
}

.round {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

#bird{
  float: right;
}

#center{
margin-left: 100px;
display: inline;
}


#col1{
margin-left: 40px;
}

#col2{
margin-left: 340px;
margin-top: -47px;
}

#col3{
  margin-left: 650px;
  margin-top: -52px;
}


#loremipsum1{
text-align: center;
width: 270px;
margin-left: -35px;
}

#loremipsum2{
text-align: center;
width: 270px;
margin-left: 270px;
margin-top: -135px;
}

#loremipsum3{
  text-align: center;
  width: 270px;
  margin-left: 580px;
  margin-top: -137px;
}

.btn-whatever{
  background-color: #C47E80;
  color: white;
}

#button1{
  margin-left: 63px;
}

#button2{
  margin-left: 370px;
  margin-top: -55px;
}

#button3{
  margin-left: 680px;
  margin-top: -55px;
}

#hr1{
  margin-top: 130px;
}

#loremipsum4{
  text-align: left;
  width: 520px;
}

#image1{
  width: 280px;
 margin-top: 0px;
}

#title1{
  padding-top: 40px;
}

#hr2{
  margin-top: 42px;
}

#image2{
  width: 280px;
}

#title2{
 margin-left: 295px;
 padding-top: 40px;
}

#loremipsum5{
  text-align: left;
  width: 520px;
  margin-left: 295px;
}

#hr3{
  margin-top: 42px;
}

#image3{
  width: 280px;
}

#title3{
  padding-top: 40px;
}

#loremipsum6{
  text-align: left;
  width: 510px;
}

#hr4{
  margin-top: 42px;
}

footer{
 height: 60px;
 background-color: #C47E80;
 color: white;
 text-align: center;
 padding-top: 20px;
}



// Style Bootstrap icons
.bi {
  fill: currentColor;
}
